
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,100;1,300;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,900&family=Open+Sans:wght@400;700;800&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,900;1,100;1,300;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,900&family=Open+Sans:wght@400;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
}

.bg-image{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("images/Banner\ Image.png") ;
    width: 100%;
    height: 600px;
    max-width: 1320px;
    margin: 20px auto;
    border-radius: 16px;
}
.banner-text {
    color: white;
    text-align:center;
    padding: 200px 0;
    font-family: Merriweather;
}
h1{
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
    }
h4{
    font-size: 25px;
    font-weight: 200px;
}
.section-header{
   text-align: center;
   margin-top: 120px;
   font-family: Inter;
}
.section-header h2{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px ;
}
.section-description p{
    color: #F00;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.section-description h3{
    color: #070211;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 48px;
}
.section-description img {
    width: 802.9px;
height: 500px;
margin-bottom: 120px;
}
/* ------------section 2------------------ */
.welcome {
    display: flex;
    align-items: center;
    
}
.welcome-text{
    width: 600px;
    max-width: 655px;
    padding: 130px;
    color: white;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    
}
.welcome-text p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.party{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("images/Vectorrr.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    max-width: 1320px;
    margin: 120px auto;
}

.welcome-img{
    justify-content: center;
align-items: center;
}
button{
    margin-top: 40px;
    background-color: black;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
button:hover{
    background-color: rgb(250, 150, 116);
}
#grad{
   height: 482px;
   background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
   width: 100%;
   max-width: 1320px;
   margin: 120px auto;
   align-items: center;
   padding-top: 120px;
}
.shedule{
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
span{
    color: #F00;
}
button{
    background-color: #F00;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: Inter;
}
#festible{
    width: 100%;
    max-width: 1320px;
    margin: 120px auto;
    background-image:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
.newyear{
    display: flex;
}
.festible{
    background-image:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
.friends{
  background: #FFF;
  width: 1600px;
  border: 15px solid red;
  border-radius: 463px;
  width: 360px;
  height: 360px;
  padding: 30px;
}
.round{
margin-left: 50px;
}
.offer{
   max-width: 393px;
}
#one{
    padding-top: 65px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
#two{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
#three{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.year{
    max-width: 275px;
    align-items: end;
    padding-left:  85px;
}
#four {
    padding-top: 65px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
#five{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 22px;
}
.gift {
    width: 100%;
    max-width: 1320px;
    margin: 120px auto;
}
.gift-text{
    max-width: 890px;
}
.gift-title {
    display: flex;
    margin-top: 45px;
    gap: 22px;
}
.gift-title-two{
    display:flex ;
    margin-top: 22px;
    gap: 22px;
}
#show-of{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}
#show-of-one{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
#show-of-two{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.product:hover{
    transform: scale(1.3);
    z-index: 2;
}
.subscribe{
    width: 100%;
    max-width: 1320px;
    margin: 120px auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.newslater{
    text-align: center;
}
.newslater img{
    padding: 80px 585px 40px 585px;
}
.newslater h3{
    padding: 40px 404px 22px 404px;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.newslater p{
    padding: 0px 212px 48px 212px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    }
   .newslater-input{
    text-align: center;
    padding-bottom: 80px;
   }
.newslater-input input{
    width: 620px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50px;
    border: none;
    
}
.newslater-input button{
    border-radius: 50px;
}
.footer-thing{
    background: #070211;
   
}
.footer-text {
    color: #FFF;
    
}
.footer-text-one{
    color: #FFF;
}

.end-head{
    display: flex;
    justify-content: space-between;
    padding: 120px 140px;
}

.social{
    display: flex;
    gap: 24px;
    padding: 48px 585px;
   
}
.media{
    align-items: center;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 50px 140px;
}
.last {
    color: #FFF;
}
.last-one{
    color: #FFF;
}
.line{
    background-color:  rgba(255, 255, 255, 0.15);
    height: 1px;
}